/* background-color: #84cba6, #042541, #11b4e0; */
body{
    background-color: #84cba6;
}
.bg-body-custom{
    background-color: #042541;
}

li{
    list-style: none;
}

a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: black;
}

.my-button{
    background-color: #84cba6;
}

.my-button:hover{
    background-color: rgb(87, 32, 32);
    color: aliceblue;
}